html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  transition: background-color 100ms;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html{
  background-color: #444;
}
body {  
  background: var(--primary-color);
  min-height: 100vh;
}

.jumbotron {
  color: $text-color-secondary;
  margin-left: 200px;
  padding: 80px 40px;  
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
