html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  transition: background-color 100ms;
  display:inline-block;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background-color: #444;
}

body {
  overflow-y: scroll;
}

.body { // this is actually a div in the root layout
  min-width: 100%;
  min-height: 100vh;
  background: var(--primary-color);
  background: linear-gradient(135deg, var(--primary-color-light), var(--primary-color));
  color: $text-color-secondary;
  display: inline-block;
}

.content{
  flex: 1 1 auto;
  position: relative;
  z-index: 1000;
}

.container{
  display:inline-block;
}