html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  transition: background-color 100ms;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background-color: #444;
}

.body { // this is actually a div in the root layout
  min-width: 100%;
  min-height: 100vh;
  background: var(--primary-color);
  background: linear-gradient(135deg, var(--primary-color-light), var(--primary-color));
  color: $text-color-secondary;
}

.container{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.content{
  flex: 1 1 auto
}