$dog-width: 100px;
$dog-eye-speed: 9;
$dog-tongue-speed: 60;
$dog-head-speed: 60;
$dog-happy-speed: 1;
$easing: ease-in-out;

.dog-container {
  position: fixed;
  left: $dog-width * 0.8;
  top: $dog-width;
  transform: rotate(-30deg);
  width: $dog-width;
  height: $dog-width;
}

.dog {
  width: 100%;
  height: 100%;
  z-index: 1;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(black, 0.3);
    transform: translateY(-30%) scale(1.5);
  }

  * {
    position: absolute;
  }
}

.dog-body {
  top: -50%;
  animation: dog-body $dog-animation-speed/$dog-happy-speed $easing infinite alternate;

  &:before {
    content: "";
    position: absolute;
    bottom: 90%;
    right: 50%;
    width: 90%;
    height: 90%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    background: rgba($color-dog-main, 0.4);
    transform-origin: right bottom;
    animation: dog-tail-blur $dog-animation-speed/$dog-happy-speed $dog-animation-speed / 6 $easing infinite alternate
      both;

    @keyframes dog-tail-blur {
      from {
        transform: rotate(0);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      to {
        transform: rotate(90deg);
        opacity: 0;
      }
    }
  }

  @keyframes dog-body {
    from {
      transform: translateX(-10%);
    }
    to {
      transform: translateX(10%);
    }
  }
}

.dog-head {
  animation: dog-head $dog-animation-speed * $dog-head-speed cubic-bezier(0.11, 0.79, 0, 0.99) infinite;

  @keyframes dog-head {
    from,
    to {
      transform: rotate(0);
    }
    25% {
      transform: rotate(-45deg);
    }
    50% {
      transform: rotate(0);
    }
    75% {
      transform: rotate(45deg);
    }
  }
}

.dog-torso {
  top: -20%;
  animation: dog-torso $dog-animation-speed/$dog-happy-speed $easing infinite alternate-reverse;

  @keyframes dog-torso {
    from {
      transform: translateX(-5%);
    }
    to {
      transform: translateX(5%);
    }
  }
}

.dog-eyes {
  width: 60%;
  top: 55%;
  left: 20%;
  z-index: 1;
  height: 2%;
}

.dog-eye {
  width: 15%;
  height: 400%;
  border-radius: 50%;
  background: #000;
  z-index: 2;
  animation: dog-eye $dog-animation-speed * $dog-eye-speed infinite;
  box-shadow: inset 0px -2px 0px 0px #ab0000, inset 0px 0.5px 0px 0px #fff;

  @keyframes dog-eye {
    from,
    to {
      animation-timing-function: step-end;
      opacity: 1;
    }
    50%,
    55% {
      animation-timing-function: step-start;
      opacity: 0;
    }
  }

  &:first-child {
    left: 0;
  }

  &:last-child {
    right: 0;
  }
}

.dog-muzzle {
  width: 60%;
  left: 20%;
  height: 50%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  background: $color-dog-main;
  bottom: -25%;
  z-index: 2;

  .dog-nose,
  .dog-sniff {
    display: block;
    position: absolute;
    z-index: 3;
  }

  .dog-nose {
    width: 6px;
    height: 20px;
    bottom: 0;
    left: calc(50% - 3px);
    background: $color-dog-accent;
  }

  .dog-sniff {
    background: rgb(78, 54, 54);
    width: 20px;
    height: 15px;
    bottom: 12px;
    left: calc(50% - 10px);
    border-bottom-left-radius: 60% 60%;
    border-bottom-right-radius: 60% 60%;
    border-top-left-radius: 50% 40%;
    border-top-right-radius: 50% 40%;
  }
}

@function p($v) {
  @return percentage($v);
}

.dog-tongue {
  width: 32%;
  height: 45%;
  top: 82%;
  left: calc(34%);
  z-index: 1;
  transform-origin: center top;
  animation: dog-tongue $dog-animation-speed * $dog-tongue-speed -50ms ease-in-out infinite;

  @keyframes dog-tongue {
    from,
    to {
      transform: rotate(0);
    }
    #{p(1/32)},
    #{p(25/32)} {
      transform: rotate(20deg);
    }
    #{p(3/32)},
    #{p(8/32)},
    #{p(13/32)},
    #{p(16/32)},
    #{p(19/32)},
    #{p(24/32)},
    #{p(27/32)} {
      transform: rotate(0);
    }
    #{p(17/32)},
    #{p(9/32)} {
      transform: rotate(-20deg);
    }
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 40px;

    background: #fd3163;
    animation: dog-tongue-inner $dog-animation-speed  $easing infinite alternate;

    @keyframes dog-tongue-inner {
      from {
        transform: translateY(5%);
      }
      to {
        transform: translateY(10%);
      }
    }
  }
}

.dog-ears {
  width: 66%;
  height: 10%;
  top: 8%;
  left: 16%;
}

.dog-ear {
  bottom: -5%;
  height: 730%;
  width: 54%;
  background: $color-dog-main;
  z-index: 1;

  &:first-child {
    border-bottom-left-radius: 80%;
    border-top-right-radius: 80%;
    right: 110%;
    box-shadow: inset -7px 28px 0px -4px $color-dog-accent;
    transform-origin: right bottom;
    transform: rotate(-140deg) skew(10deg, 0deg);
    animation: dog-ear-left $dog-animation-speed * $dog-head-speed ease infinite;
  }

  &:last-child {
    border-top-left-radius: 80%;
    border-bottom-right-radius: 80%;
    left: 110%;
    box-shadow: inset 7px 28px 0px -4px $color-dog-accent;
    transform-origin: left bottom;
    transform: rotate(140deg) skew(-10deg, 0deg);
    animation: dog-ear-right $dog-animation-speed * $dog-head-speed ease infinite;
  }

  @keyframes dog-ear-left {
    from,
    to,
    22%,
    25%,
    35%,
    50%,
    60%,
    75%,
    97%,
    99% {
      transform: rotate(-140deg) skew(10deg, 0deg);
    }
    3%,
    78% {
      transform: rotate(-125deg) skew(10deg, 0deg);
    }
    10%,
    28%,
    53%,
    85% {
      transform: rotate(-145deg) skew(10deg, 0deg);
    }
  }

  @keyframes dog-ear-right {
    from,
    to,
    10%,
    25%,
    47%,
    50%,
    72%,
    75%,
    85%,
    99% {
      transform: rotate(140deg) skew(-10deg, 0deg);
    }
    3%,
    35%,
    60%,
    78% {
      transform: rotate(145deg) skew(-10deg, 0deg);
    }

    28%,
    53% {
      transform: rotate(125deg) skew(-10deg, 0deg);
    }
  }
}

.dog-tail {
  $tail-width: 22px;
  width: $tail-width;
  height: $tail-width * 1.1;
  background: $color-dog-main;
  bottom: 40%;
  border-radius: $tail-width / 2;
  left: calc(50% - #{$tail-width / 2});
  transform-origin: center bottom;

  .dog-tail {
    animation: dog-tail-segment $dog-animation-speed/$dog-happy-speed $easing infinite alternate;

    @keyframes dog-tail-segment {
      from {
        transform: rotate(-10deg);
      }
      to {
        transform: rotate(10deg);
      }
    }
  }
}

.dog-body > .dog-tail {
  bottom: 90%;
  animation: dog-tail $dog-animation-speed/$dog-happy-speed $easing infinite alternate;

  @keyframes dog-tail {
    from {
      transform: rotate(-45deg);
    }
    to {
      transform: rotate(45deg);
    }
  }
}

.dog-body,
.dog-torso,
.dog-head {
  border-radius: 50%;
  background: $color-dog-main;
  position: absolute;
}

.dog-head {
  height: 95%;
  width: 80%;
  top: 10%;
  box-shadow: 0px 2px 7px -1px #000
}

.dog-body,
.dog-torso {
  box-shadow: inset 0 -15px 0 0 $color-dog-accent;
  height: 100%;
  width: 84%;
}

.back-stripe-1 {
  position: absolute;
  bottom: 69%;
  right: 55%;
  width: 14%;
  height: 18%;
  background: $color-dog-accent;
  box-shadow: inset 0 0 4px 4px $color-dog-main;
  transform: rotate(155deg);
}


.back-stripe-2 {
  position: absolute;
  bottom: 69%;
  right: 29%;
  width: 14%;
  height: 15%;
  background: $color-dog-accent;
  box-shadow: inset 0 0 3px 4px $color-dog-main;  
}

.face-stripe-1 {
  position: absolute;
  bottom: 27%;
  right: 45%;
  width: 14%;
  height: 15%;
  background: $color-dog-accent;
  box-shadow: inset 0 0 3px 4px $color-dog-main;  
}

.face-stripe-2 {
  position: absolute;
  bottom: 81%;
  right: 70%;
  width: 24%;
  height: 24%;
  background: #7c462c;
  box-shadow: inset 0 0 5px 3px #ffffff;
}