$maxHeigt: calc(100vh - 200px);
$maxWidth: 80vw;

.dog-details-wrapper {
  border: 1px solid var(--primary-color-background-border);
  border-radius: 6px;
  background-color: var(--primary-color-background-border);
  padding: 6px;
  display: inline-block;
  max-width: $maxWidth;
  z-index: 100;
  position: relative;

  &.home {
    margin: 4px;
    z-index: 200;
  }

  &.list {
    margin: 4px;
    z-index: 100;
     
    & *{
      max-width: 250px;
      max-height: 250px;
    }
  }
}

.dog-details {
  width: auto;
  max-height: $maxHeigt;
  display: inline-block;

  & img {
    border-radius: 5px;
    width: auto;
    max-height: $maxHeigt;
    display: inline-block;
    margin: auto;
  }
}

.close-btn {
  z-index: 1099;
  right: 1rem;
  top: 1rem;
  position: absolute;
  cursor: pointer;
  background: #ffffff99;
  color: #333;
  padding: 0.5rem 0.7rem;
  border-radius: 2rem;
  text-decoration: none;
  box-shadow: inset 0 0 6px 1px #000000aa;
  transition: background-color 0.3s, box-shadow 0.3s, font-weight 0.1s;
  &:hover {
    background: #ffffffee;
    font-weight: bold;
    box-shadow: inset 0 0 2px 1px #000000aa;
  }
}
