$maxHeigt: calc(100vh - 200px);
$maxWidth: 80vw;

.dog-details-wrapper {
  border: 1px solid var(--primary-color-background-border);
  border-radius: 6px;
  background-color: var(--primary-color-background-border);
  padding: 6px;
  display: inline-block;
  max-width: $maxWidth;
  z-index: 100;
  position: relative;
  backdrop-filter:blur(5px);
  transition: backdrop-filter 0.3s;

  color: $text-color-secondary;
  text-shadow: 1px 1px 1px #333;
  font-size: $baseFontSize * $goldenRatio;
  font-weight: 300;
  text-align: center;
  
  & h2 {
    margin:$baseFontSize;
    margin-top: 0;
  }

  & p {
    margin-top: 0;
    margin:$baseFontSize;
  }


  &.home {
    margin: 4px;
    z-index: 200;    
  }

  &.list {
    margin: 2px;
    z-index: 100;
     
    & *{
      max-width: 250px;
      max-height: 250px;
    }
  }
}

.dog-details {
  width: auto;
  max-height: $maxHeigt;
  display: inline-block;

  & img {
    border-radius: 5px;
    width: auto;
    max-height: $maxHeigt;
    max-width: 100%;
    display: inline-block;
    margin: auto;
  }
}

.dog-list-container {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center; 
  justify-content: center;
  overflow: hidden;
  padding-right: 2rem;
}

.dog-list-spacer{
 display: inline-block;
 width: 200px;
 height: 245px ;
}

@media (max-width: $break-max-width) {
  .dog-list-container {
    padding: 0
  }  
  .dog-list-spacer{  
    width: 100%;
    height: $baseFontSize;
  } 
}
