$maxHeigt: calc(100vh - 200px);
$maxWidth: 80vw;

.dog-details-wrapper {
  border: 1px solid var(--primary-color-background-border);
  border-radius: 6px;
  background-color: var(--primary-color-background-border);
  padding: 6px;
  display: inline-block;
  max-width: $maxWidth;
  z-index: 100;
  position: relative;
  backdrop-filter:blur(5px);
  
  color: $text-color-secondary;
  text-shadow: 1px 1px 1px #333;
  font-size: $baseFontSize * $goldenRatio;
  font-weight: 300;
  text-align: center;
  
  & h2 {
    margin:$baseFontSize;
    margin-top: 0;
  }

  & p {
    margin-top: 0;
    margin:$baseFontSize;
  }


  &.home {
    margin: 4px;
    z-index: 200;    
  }

  &.list {
    margin: 2px;
    z-index: 100;
     
    & *{
      max-width: 250px;
      max-height: 250px;
    }
  }
}

.dog-details {
  width: auto;
  max-height: $maxHeigt;
  display: inline-block;

  & img {
    border-radius: 5px;
    width: auto;
    max-height: $maxHeigt;
    max-width: 100%;
    display: inline-block;
    margin: auto;
  }
}

.close-btn {
  font-family: monospace;
  z-index: 1099;  
  cursor: pointer;  
  line-height: 1;
  backdrop-filter: blur(1px);
  background: #ffffffaa;
  color: #333;
  padding: 0.5rem 0.7rem;  
  text-decoration: none;
  box-shadow: inset 0 0 3px 1px #000000aa;
  text-shadow: none;
  border-radius: 5px;  
  right: 9px;
  top: 9px;
  position: absolute;
  transition: background-color 0.3s, box-shadow 0.3s, font-weight 0.1s;
  &:hover {
    backdrop-filter: blur(3px);
    background: #ffffffc5;
    font-weight: bold;
    box-shadow: inset 0 0 1px 1px #000000ee;
    color:#000000;
    transition: background-color 0.1s, box-shadow 0.1s, font-weight 0.1s;
  }
}

.dog-list-container {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center; 
  justify-content: center;
  overflow: hidden;
  padding-right: 2rem;
}

.dog-list-spacer{
 display: inline-block;
 width: 200px;
 height: 245px ;
}

@media (max-width: $break-max-width) {
  .dog-list-container {
    padding: 0
  }  
  .dog-list-spacer{  
    width: 100%;
    height: $baseFontSize;
  } 
}
