html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

$goldenRatio: 1.618;
$baseFontSize: .75rem;

h1 {
  font-size: calc($baseFontSize * $goldenRatio * $goldenRatio * $goldenRatio *$goldenRatio);
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}

h2 {
  font-size: calc($baseFontSize * $goldenRatio * $goldenRatio );
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}

.lead {
  font-size: calc($baseFontSize * $goldenRatio * $goldenRatio);
  font-weight: 300;
  b {
    font-weight: bold;
  }
}

.lead-sub {
  font-size: $baseFontSize * $goldenRatio;

  b {
    font-weight: bold;
  }
}

.closer {
  font-size: $baseFontSize * $goldenRatio;
}

a {
  color: $text-color-secondary;

  &:visited {
    color: $text-color-secondary-visited;
  }

  &:hover {
    color: $text-color-secondary-highlight;
  }
}