// main
$color-primary: #747474; // this is overwritten in the app
$color-secondary: rgb(57, 119, 255);

// Dog variables
$color-dog-accent: #7c462c;
$color-dog-main: #ffffff;
$dog-animation-speed: 300ms;

// text
$text-color-primary: #212529;
$text-color-secondary: #FFF;
