:root {
    --primary-color: #444;
    --primary-color-light: #777;
    --primary-color-background-border: #dfdfdf;
    --primary-text-shadow-color: #000;
}

// Dog variables
$color-dog-accent: #7c462c;
$color-dog-main: #ffffff;
$dog-animation-speed: 300ms;

// text
$text-color-primary: #212529;
$text-color-secondary: #fff;

// breakpoint
$break-max-width: 690px